<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>V-model, Validation</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <style>
    [v-cloak] {
      display: none;
    }
    .error {
      color: red;
    }
  </style>
</head>
<body>
  <div id="app">
    <p v-if="errors.length">
      <ul>
        <li class="error" v-for="error in errors">{{ error }}</li>
      </ul>
    </p>
    <form @submit.prevent="validate">
      Name:
      <input type="text" v-model="yourName">
      <br/>
      <p :class="{error: hasError.yourName}">{{ contact.name.length }} / 20</p>
      <p v-show="hasError.yourName" class="error">Name must be longer than 3 and less than 20</p>

      Tel:
      <input type="tel" v-model.number="contact.tel">
      <br/>
      Email:
      <input type="email" v-model.lazy.trim="contact.email">
      <br/>
      Gender:
      <input type="radio" value="Man" v-model="contact.gender">Man
      <input type="radio" value="Woman" v-model="contact.gender">Woman
      <input type="radio" value="Other" v-model="contact.gender">Other
      <br/>
      Age:
      <select v-model="contact.age">
        <option disabled value="">Select your age</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
        <option value="50">50</option>
      </select>
      <br/>
      Message:
      <textarea v-model="contact.message"></textarea>
      <br/>
      Attracts:
      <input type="checkbox" value="Music" v-model="contact.attracts">Music
      <input type="checkbox" value="Movie" v-model="contact.attracts">Movie
      <input type="checkbox" value="Sports" v-model="contact.attracts">Sports
      <br/>
      Caution:
      <input type="checkbox" v-model="contact.caution">
      <br/>
      <button>Submit</button>
    </form>

  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data() {
        return {
          contact: {
            name: '',
            tel: '',
            email: '',
            gender: '',
            age: '',
            message: '',
            attracts: [],
            caution: false
          },
          errors: [],
          hasError: {
            yourName: false,
          }
        }
      },
      methods: {
        validate() {
          this.errors = []
          if (!this.contact.name) {
            this.errors.push('Name is required.')
          } else if (this.contact.name.length < 3) {
            this.errors.push('Name must be at least 3 characters.')
          } else if (this.contact.name.length > 20) {
            this.errors.push('Name must be less than 20 characters.')
          }
          if (!this.contact.gender) {
            this.errors.push('Gender is required.')
          }
          if (!this.contact.caution) {
            this.errors.push('Caution is required.')
          }
          if (!this.errors.length) {
            alert('Success!')
          }
        }
      },
      computed: {
        yourName: {
          get() {
            return this.contact.name
          },
          set(value) {
            if (value.length < 3) {
              this.hasError.yourName = true
            } else if (value.length > 20) {
              this.hasError.yourName = true
            } else {
              this.hasError.yourName = false
            }
            this.contact.name = value
          }
        }
      }
    })
  </script>
</body>
</html>