<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Practice/List rendering</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <style>
        .active {
            background-color: aquamarine;
        }
    </style>
</head>

<body>
    <div id="app">
        <ul id="example-1">
            <li v-for="(item, index) in items" :key="item.message">
                {{ index+1 }}. 
                From: {{ from }}, 
                Name:{{ item.name }}, 
                Message:{{ item.message }}
            </li>
        </ul>
        <hr>
        <ul>
            <li v-for="(value, key, index) in object">
                {{ index }}. {{ key }}: {{ value }}
            </li>
        </ul>
        <hr>
        <p>{{ john }}</p>
        <hr>
        <li v-for="n in numbers.sort()">
            {{ n }}
        </li>
        <hr>
        <li v-for="n in evenNumbers">
            {{ n }}
        </li>
    </div>
</body>

<script src="list_redering.js"></script>

</html>