<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue2 Template</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <h2>Cats</h2>
    <div v-for="(cat, n) in cats">
      <p>
        <span class="cat">{{ cat }}</span>
        <button @click="removeCat(n)">Remove</button>
      </p>
    </div>

    <p>
      <input v-model="newCat">
      <button @click="addCat">Add Cat</button>
    </p>

  </div>

  <script>
    STORAGE_KEY = 'cats';

    var app = new Vue({
      el: '#app',
      data() {
        return {
          cats: [],
          newCat: null
        }
      },
      mounted() {
        if (localStorage.getItem(STORAGE_KEY)) {
          try {
            this.cats = JSON.parse(localStorage.getItem(STORAGE_KEY));
          } catch(e) {
            localStorage.removeItem(STORAGE_KEY);
          }
        }
      },
      methods: {
        addCat() {
          if (!this.newCat) {
            return;
          }

          this.cats.push(this.newCat);
          this.newCat = '';
          this.saveCats();
        },
        removeCat(x) {
          this.cats.splice(x, 1);
          this.saveCats();
        },
        saveCats() {
          const parsed = JSON.stringify(this.cats);
          localStorage.setItem(STORAGE_KEY, parsed);
        }
      }
    })
  </script>
</body>
</html>