<!DOCTYPE html>
<html>
  <head>
    <title>Detect specified word</title>
    <!-- <script src="https://unpkg.com/vue"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div id="app">
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-md-2 control-label">パスワード</label>
          <div class="col-md-10">
            <input class="form-control" type="password" v-model="p" v-if="t == 'password'" />
            <input class="form-control" type="text" v-model="p" v-if="t == 'text'" />
            <div class="help-block">
            <label class="checkbox-inline" >
                <input type="checkbox" v-model="t" true-value="text" false-value="password"/>マスク解除</label> 
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="../js/show_password.js"></script>
  </body>
</html>
