<!DOCTYPE html>
<html>
  <head>
    <title>Detect specified word</title>
    <!-- <script src="https://unpkg.com/vue"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div id="app">
      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-md-2 control-label">パスワード</label>
          <div class="col-md-10">
            <input class="form-control" type="password" ref="password" v-model="passwordValue" v-if="triggerShowPassword == 'password'" />
            <input class="form-control" type="text" ref="text" v-model="passwordValue" v-if="triggerShowPassword == 'text'" />
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="../js/show-pass-only-input.js"></script>
  </body>
</html>
