<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Practice/Component</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <style>
    .active {
        background-color: aquamarine;
    }
  </style>
</head>

<body>
  <div id="components-demo">
      <button-counter></button-counter>

      <hr>
      <blog-post title="My journey with Vue" body="aaaaa"></blog-post>
      <blog-post title="Blogging with Vue" body="bbbbb"></blog-post>
      <blog-post title="Why Vue is so fun" body="ccccc"></blog-post>

      <hr>
      <blog-post v-for="post in posts" v-bind:key="post.id" v-bind:title="post.title"></blog-post>
  </div>

  <hr>
  <div id="blog-posts-events-demo">
    <div :style="{ fontSize: postFontSize + 'em' }">
      <blog-post-2
        v-for="post in posts"
        v-bind:key="post.id"
        v-bind:post="post"
        v-on:enlarge-text="onEnlargeText"
      ></blog-post-2>
    </div>
  </div>
</body>

<script src="../js/component.js"></script>

</html>