<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Local Component</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    {{ message }}
    <my-component></my-component>
    <my-component2></my-component2>
  </div>

  <script>
    let myComponent = Vue.component('my-component', {
      template: '<div>A local component!</div>'
    })

    let myComponent2 = Vue.component('my-component2', {
      template: `
      <div>
        <p>A local component2!</p>
        <br>
        <button @click="isShow = !isShow">Toggle render</button>
        <div v-show="isShow">A local component2 ans v-show!</div>
      </div>
      `,
      data() {
        return {
          isShow: true
        }
      }
    })

    var app = new Vue({
      el: '#app',
      components: {
        myComponent,
        myComponent2
      },
      data() {
        return {
          message: 'Hello Local Component!'
        }
      }
    })
  </script>
</body>
</html>