<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scoped Slot</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <style>
    .parent {
      width: 800px;
      margin: 0 auto;
      border: 1px solid red;
    }
    .child {
      width: 30%;
      margin: 0 auto;
      border: 1px solid blue;
    }
  </style>
</head>
<body>
  <div id="app" class="parent">
    <my-component class="child">
      <template v-slot:default="player">
        {{ player }}
        {{ player.member.name }}
        {{ player.member.age }}
      </template>
    </my-component>
  </div>

  <script>
    let myComponent = {
      data() {
        return {
          member: { name: 'Taro', age: 20 },
        }
      },
      template: `
        <div>
          <slot :member="member">Here will be changed</slot>
        </div>
      `
    }

    var app = new Vue({
      el: '#app',
      components: { myComponent },
      data() {
        return {
        }
      },
    })
  </script>
</body>
</html>